body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fffcf7;
    color: #333;
}

.menuNav{
    font-family: sans-serif;
    padding-top: 40px;
    padding-bottom: 30px;
}
.menuNav a{
    text-decoration: none;
    padding-left: 20px;
}

,.menuNav a:hover{
    background-color: blue;
}
.container {
    max-width: 800px;
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.headline {
    font-size: 2em;
    margin-bottom: 10px;
}
.subheadline {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #555;
}

.altschoolVideo{
    width: 500px;
    height: 300px;
    border-radius: 30px;
}

.content {
    line-height: 1.6;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #060942;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #000000;
}
.picture-container {
    margin: 20px 0;
}
.picture-container img {
    max-width: 100%;
    border-radius: 10px;
}